#ignore the following directories:
*.app/
build/
Docs/html/
xcuserdata/
xcuserdatad/
.svn/

#ignore the following files:
.*
*.a
*.fwbackup
*.mode*
*.o
*.pbxuser
*.xcbkptlist
*.xccheckout
*.xcuserstate

#but do not ignore these files
!.gitignore
